@import "tailwindcss";


 .navbar-toggle{
    background: transparent;
    width: 22px;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 5px;
    cursor:pointer;
  }
  .navbar-toggle .icon-bar{
        display: block;
    width: 100%;
    height: 2px;
    background: #fff;
     transition: width .13s ease-out,transform .13s ease-out;
       
  }
  .navbar-toggle .icon-bar:nth-child(2){
    width: 80%;
  }
  .navbar-toggle:hover .icon-bar{
    width: 80%;
  
   }
  .navbar-toggle:hover  .icon-bar:nth-child(2){
    width: 100%;
   }
   .font-montserrat{font-family: 'Montserrat', sans-serif;}
   .playfair{
    font-family: 'Playfair Display SC', serif;
   }
   