---

---
<footer class="bg-[#111] text-white px-6 pt-10">
  <div class="max-w-7xl mx-auto flex flex-col gap-8">
    <div class="mb-[30px]">
      <h2 class="text-[20px] font-bold uppercase mb-7 font-montserrat">
        Contact Information
      </h2>
      <ul class="space-y-1 text-[16px]">
        <li>
          <a
            href="mailto:admin@madisonleesoriental.com"
            class="text-teal-400 hover:underline  hover:text-white"
          >
            admin@madisonleesoriental.com
          </a>
        </li>
        <li>
          <a
            href="tel:6082311593"
            class="text-teal-400 hover:underline hover:text-white"
          >
            (608) 231-1593
          </a>
        </li>
        <div class="text-teal-400 hover:underline hover:text-white">
          <li>3240 University Ave</li>
          <li>Madison, WI 53705</li>
          <li>United States</li>
        </div>
      </ul>
    </div>
  </div>
  <div class="max-w-7xl mx-auto border-gray-700 border-t-[1px] flex flex-col">
    <div
      class="flex justify-between  py-[26px]  w-full items-center max-lg:flex-col max-lg:justify-center max-lg:items-center"
    >
      <p class="mb-1">Copyright © 2025 Lee's Oriental</p>
      <p>
        <span class="text-white font-semibold hover:text-teal-400">Inspiro Theme</span>
        <span class="text-gray-500">by</span>
        <a
          href="https://www.wpzoom.com/"
          target="_blank"
          rel="noopener"
          class="text-white font-semibold hover:underline hover:text-teal-400"
          >WPZOOM</a
        >
      </p>
    </div>
  </div>
</footer>
