---

---

<header
  class="z-1000 fixed top-0 text-white !h-[81px] py-[18px] px-6 w-full transition-all duration-300"
  id="site-header"
>
  <div class="max-w-7xl mx-auto flex justify-between items-center">
    <div
      class="text-[26px] ml-16 max-lg:ml-0 font-normal tracking-wide playfair transition cursor-pointer max-xl:ml-0"
    >
      <a href="/#hero" class="unset" id="icon"> LEE&apos;S ORIENTAL </a>
    </div>
    <div class="hidden max-xl:block w-[40px] h-[40px]">
      <button type="button" class="navbar-toggle" id="nav-bar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <button
        type="button"
        class="hidden h-[40px] cursor-pointer scale-110"
        id="cancel"
      >
        <img src="/assets/cancel.svg" alt="cancel" />
      </button>
    </div>
    <nav
      class="space-x-6 text-[16px] max-xl:hidden max-w-7xl font-semibold tracking-wide font-montserrat mr-[40px] max-xl:mr-0"
    >
      <a
        href="#aboutus"
        class="hover:text-gray-300 hover:border-b-[1px] whitespace-nowrap border-gray-300 pb-[3px] transition"
        >About Us</a
      >
      <a
        href="#onntime"
        class="hover:text-gray-300 hover:border-b-[1px] whitespace-nowrap border-gray-300 pb-[3px] transition"
        >Hours</a
      >
      <a
        href="#location"
        class="hover:text-gray-300 hover:border-b-[1px] whitespace-nowrap border-gray-300 pb-[3px] transition"
        >Location</a
      >
      <a
        href="#anime"
        class="hover:text-gray-300 hover:border-b-[1px] whitespace-nowrap border-gray-300 pb-[3px] transition"
        >Anime/BT21/Daiso</a
      >
      <a
        href="#newitems"
        class="hover:text-gray-300 hover:border-b-[1px] whitespace-nowrap border-gray-300 pb-[3px] transition"
        >New Items</a
      >
      <a
        href="#gallery"
        class="hover:text-gray-300 hover:border-b-[1px] whitespace-nowrap border-gray-300 pb-[3px] transition"
        >Store Gallery</a
      >
      <a
        href="#contactus"
        class="hover:text-gray-300 hover:border-b-[1px] whitespace-nowrap border-gray-300 pb-[3px] transition"
        >Contact Us</a
      >
    </nav>
  </div>

  <nav
    class="fixed right-0 top-[80px] transition-all bg-[#000000] w-0 overflow-hidden"
    id="menu"
    style="height:calc(100vh)"
  >
    <div class="inset-0">
      <div class="relative flex flex-col justify-between h-[85%]">
        <div
          class="w-full font-montserrat text-white overflow-hidden flex flex-col gap-5 justify-start items-between px-[24px] py-[40px] pointer-events-auto"
          style="pointer-events: auto;"
        >
          <a
            href="/#aboutus"
            class="border-b-[1px] whitespace-nowrap border-gray-900 pb-[4px] text-[18px] font-semibold leading-[150%] text-start pt-2 w-full cursor-pointer transition"
            id="about"
          >
            About Us
          </a>
          <a
            href="#onntime"
            class="border-b-[1px] whitespace-nowrap border-gray-900 pb-[4px] text-[18px] font-semibold leading-[150%] text-start pt-2 w-full transition cursor-pointer"
          >
            Hours
          </a>
          <a
            href="/#location"
            class="border-b-[1px] whitespace-nowrap border-gray-900 pb-[4px] text-[18px] font-semibold leading-[150%] text-start pt-2 w-full transition cursor-pointer"
          >
            Location
          </a>
          <a
            href="/#anime"
            class="border-b-[1px] whitespace-nowrap border-gray-900 pb-[4px] text-[18px] font-semibold leading-[150%] text-start pt-2 w-full transition cursor-pointer"
          >
            Anime/BT21/Daiso
          </a>
          <a
            href="/#newitems"
            class="border-b-[1px] whitespace-nowrap border-gray-900 pb-[4px] text-[18px] font-semibold leading-[150%] text-start pt-2 w-full transition cursor-pointer"
          >
            New Items
          </a>
          <a
            href="/#gallery"
            class="border-b-[1px] whitespace-nowrap border-gray-900 pb-[4px] text-[18px] font-semibold leading-[150%] text-start pt-2 w-full transition cursor-pointer"
          >
            Store Gallery
          </a>
          <a
            href="/#contactus"
            class="border-b-[1px] whitespace-nowrap border-gray-900 pb-[4px] text-[18px] font-semibold leading-[150%] text-start pt-2 w-full transition cursor-pointer"
          >
            Contact Us
          </a>
        </div>
      </div>
    </div>
  </nav>
</header>
<script defer>
  const navBarBtn = document.getElementById("nav-bar");
  const cancelBtn = document.getElementById("cancel");
  const menu = document.getElementById("menu");

  navBarBtn?.addEventListener("click", () => {
    menu.style.width = "300px";
    menu.style.overflow = "auto";
    navBarBtn.style.display = "none";
    cancelBtn.style.display = "block";
    document.body.style.overflow = "hidden";
    const locationElem = document.getElementById("location");
    if (locationElem) {
      locationElem.style.pointerEvents = "none";
    }
    const headerBG = document.getElementById("site-header");
    if (headerBG) {
      headerBG.classList.add("bg-black/90", "h-[80px]");
    }
  });

  cancelBtn?.addEventListener("click", () => {
    menu.style.width = "0px";
    menu.style.overflow = "hidden";
    navBarBtn.style.display = "flex";
    cancelBtn.style.display = "none";
    document.body.style.overflow = "auto";
    const locationElem = document.getElementById("location");
    if (locationElem) {
      locationElem.style.pointerEvents = "auto";
    }
    const headerBG = document.getElementById("site-header");
    if (window.scrollY >= 50) {
      headerBG.classList.add("bg-black/90", "h-[80px]");
    } else {
      headerBG.classList.remove("bg-black/90", "h-[80px]");
    }
  });

  window.addEventListener("scroll", () => {
    const header = document.getElementById("site-header");

    if (window.scrollY >= 50) {
      header.classList.add("bg-black/90", "h-[80px]");
    } else {
      header.classList.remove("bg-black/90", "h-[80px]");
    }
  });
</script>
