---
import Header from "./Header.astro";
---
<div class=" bg-[url('/assets/cropped-StoreFront.jpg')] bg-cover bg-center h-[100vh] w-full text-white flex flex-col">
    <Header />
        <div class="flex-1 relative playfair flex flex-col justify-center items-center text-center bg-black/50">
            <h1 class="text-[84px] max-lg:text-[42px] max-md:text-[24px] mb-10 relative after:'' after:absolute after:w-[310px] max-md:after:w-[80%] after:h-[3px] after:bg-[#c9c9c966] after:left-[50%] after:bottom-0 after:-translate-x-1/2 after:translate-y-[10px]">Lee's Oriental</h1>
            <p class="text-[31px] max-lg:text-[18px] max-md:text-[16px]">Madison's highest quality authentic Asian goods</p>
        </div> 
</div>