---
import Header from "./Header.astro";
---
<div class=" bg-[url('/assets/cropped-StoreFront.jpg')] bg-cover bg-center h-[100vh] w-full  flex flex-col"
id="hero">
    <Header />
        <div class="flex-1 relative playfair flex flex-col justify-center items-center text-center bg-black/50">
            <a href="/" class="text-[80px] text-white max-md:text-[42px] max-sm:text-[24px] mb-10 max-md:mb-0 relative after:'' after:absolute after:w-[310px] max-md:after:w-[0%] after:h-[3px] after:bg-[#c9c9c966] after:left-[50%] after:bottom-0 after:-translate-x-1/2 after:translate-y-[10px]">Lee's Oriental</a>
            <p class="text-[31px] text-gray-300 max-md:text-[18px] max-sm:text-[16px]">Madison's highest quality authentic Asian goods</p>
        </div> 
</div>