---
const storeHours = [
  { day: "Monday", time: "11AM – 6PM" },
  { day: "Tuesday", time: "11AM – 6PM" },
  { day: "Wednesday", time: "11AM – 6PM" },
  { day: "Thursday", time: "11AM – 6PM" },
  { day: "Friday", time: "11AM – 6PM" },
  { day: "Saturday", time: "11AM – 6PM" },
  { day: "Sunday", time: "11AM – 4PM" },
];
---
<div class="w-full bg-gray-50 flex justify-center items-center font-raleway" id="onntime">
<div class="flex w-full max-lg:flex-col-reverse items-center justify-center max-w-7xl  px-6 py-14 ">
  <div class="relative w-[50%]  max-lg:w-[90%] aspect-[3/2] m-[50px] max-lg:m-0 overflow-hidden rounded-lg group">
    <img
      src='https://i0.wp.com/bpt.dlq.mybluehost.me/leesoriental/wp-content/uploads/2022/07/20220701_161650-rotated.jpg?fit=1755%2C2340&ssl=1'
      alt="Storefront"
      class="rounded-lg object-cover w-full h-full transition-transform duration-500 group-hover:scale-105"
    />
    <div class="absolute inset-0 bg-black/30 bg-opacity-50 opacity-0 group-hover:opacity-100 transition-opacity duration-300"></div>
</div>

  <div class="w-[50%] max-lg:w-[90%] p-[50px] max-lg:p-0 max-lg:mb-[46px]">
    <h2 class="text-[30px] font-semibold mb-4 max-lg:mt-4">Store Hours</h2>
    <ul class="text-gray-900 text-[16px] leading-relaxed space-y-2">
      {storeHours.map(({ day, time }) => (
        <li class="flex justify-between  w-full">
          <span class="font-bold">{day}</span>
          <span>{time}</span>
        </li>
      ))}
    </ul>
  </div>
  </div>

</div>
